<h2>Hatch a new Tamogachi for Thomas</h2>

<form action='/tamogachis' method='post'>
  <label for='name'>Give the Tamogachi a name</label>
    <input id='name' name='name' type='text'>
  <button type='submit'>Submit</button>
</form>